*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'MuseuMopderno', cursive;
}

:root{
    --text-color:#000000;
    --bg-color:#e5e5e5;
    --second-color:#fff;
    --big-font:5.5rem;
    --p-font:1rem;
    --main-color:#00c2BF;
}

body{
    background: var(--bg-color);
    color:var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 27px 9%;
    transition: ease all .55s;
}

.logo{
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--text-color);
    font-size: 40px;
    font-weight: bold;

}

.logo i{
    vertical-align: middle;
    color: var(--main-color);
    font-size: 35px;
    margin-right: 5px;
}

.links{
    display: flex;
}

.links a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    margin: 0 35px;
    transition: all ease .55s;

}

.links a:hover{
    color: var(--main-color);
}

.links a.active{
    color: var(--main-color);
}

.h-main{
    display: flex;
    align-items: center;
}

.h-btn{
    display: inline-block;
    color: var(--bg-color);
    background:var(--main-color);
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    margin-right: 20px;
    transition: all .55s;
}

.h-btn:hover{
    background: transparent;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

#menu-icon{
    font-size: 40px;
    z-index: 10001;
    cursor: pointer;
    margin: 15px;
    display: none;

}

#darkmode{
    font-size:30px;
    cursor: pointer;
    color: var(--text-color);
    margin-left: 10px;
}

section{
    padding: 10% 12%;

}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.hero-img{
    height: 500px;
    width: 500px;   
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-in{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
    align-items: center;
    text-align: center;
    gap: 30px;

}

.hero-text h1{
    font-size: var(--big-font);
    font-weight: 800;

}

.hero-text h4{
    margin: 5px 0 20px;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 22px;
    font-weight: 400;
}

.hero-text p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 26px;
    max-width: 550px;
    margin-bottom: 4rem;
}

.box{
    background: var(--second-color);
    padding: 25px 40px;
    border-radius: 1rem;
    transition: all ease .55s;
    box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.box:hover{
    transform: translateY(-5px) scale(1.1);
}

.box img{
    max-width: 100%;
    height: auto;
}

.box h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 7px;
}

.box h5{
    font-size: 15px;
    font-weight: 400;
    color: var(--main-color);
    letter-spacing: 4px;
}

body.color{
    --text-color:#fff;
    --bg-color:#081624;
    --second-color:#2b3544;
}

